@model IEnumerable<BusinessManagementSystem.Models.Role>

<br />
<p>
    <input type="button" class="btn btn-success" value="Create New Role" onclick="window.location.href='@Url.Action("create", "Role")';" />
</p>
<table class="table table-striped">
    <thead class="table-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Delete" data-toggle="modal" data-id="@item.Id" data-target="#confirmationModalDel" class="delete-btn"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_ModalView" />
@* <div class="modal fade" id="confirmationModalDel" tabindex="-1" aria-labelledby="confirmationModalDelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalDelLabel">Confirm Delete Claim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to Delete this claim?
            </div>
            <div class="modal-footer">
                <a id="confirmDelete" class="btn btn-primary">Yes</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap Modal Del -->
*@
@section Scripts{
    <script>
        document.querySelectorAll('.delete-btn').forEach(button => {
            button.addEventListener('click', function () {
                var id = this.getAttribute('data-id');
                document.getElementById('confirmDelete').setAttribute('href', '@Url.Action("Delete", "Role")' + '/' + id);
            });
        });
    </script>
} 
