@model BusinessManagementSystem.Dto.AppointmentDto
<h4>Create Appointment</h4>
<hr />
<form asp-action="Edit" method="post" enctype="multipart/form-data" asp-controller="Appointment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="guid" />
    <input type="hidden" asp-for="AppointmentId" />

    <div class="col-md-12">
        <div class="card card-outline card-dark">
            <div class="card-header">
                <h3 class="card-title">General Information</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="ClientName" class="control-label"></label>
                        <input asp-for="ClientName" class="form-control" />
                        <span asp-validation-for="ClientName" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="ClientPhoneNumber" class="control-label"></label>
                        <input asp-for="ClientPhoneNumber" class="form-control" />
                        <span asp-validation-for="ClientPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="ClientEmail" class="control-label"></label>
                        <input asp-for="ClientEmail" class="form-control" type="email" />
                        <span asp-validation-for="ClientEmail" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="AppointmentDate" class="control-label"></label>
                        <input asp-for="AppointmentDate" class="form-control" type="datetime-local" />
                        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Category" class="control-label"></label>
                        @Html.DropDownListFor(model => model.Category, (SelectList)ViewBag.AppointmentSelectList["TattooCategories"], "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="ReferalId" class="control-label"></label>
                        @Html.DropDownListFor(model => model.ReferalId, (SelectList)ViewBag.AppointmentSelectList["ReferalList"], "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="ReferalId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="UserId" class="control-label"></label>
                        @Html.DropDownListFor(model => model.UserId, (SelectList)ViewBag.AppointmentSelectList["ArtistList"], "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="IsForeigner" class="control-label"></label>
                        <select asp-for="IsForeigner" class="form-control">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Outlet" class="control-label"></label>
                        @Html.DropDownListFor(model => model.Outlet, (SelectList)ViewBag.AppointmentSelectList["Outlet"], new { @class = "form-control" })
                        <span asp-validation-for="Outlet" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="card card-outline card-dark">
            <div class="card-header">
                <h3 class="card-title">Other Information</h3>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-md-4">
                        <label asp-for="TattooDesign" class="control-label"></label>
                        <input asp-for="TattooDesign" class="form-control" />
                        <span asp-validation-for="TattooDesign" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Placement" class="control-label"></label>
                        <input asp-for="Placement" class="form-control" />
                        <span asp-validation-for="Placement" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="InkColorPreferance" class="control-label"></label>
                        <input asp-for="InkColorPreferance" class="form-control" />
                        <span asp-validation-for="InkColorPreferance" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="Allergies" class="control-label"></label>
                        <input asp-for="Allergies" class="form-control" />
                        <span asp-validation-for="Allergies" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="MedicalConditions" class="control-label"></label>
                        <input asp-for="MedicalConditions" class="form-control" />
                        <span asp-validation-for="MedicalConditions" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="PainToleranceLevel" class="control-label"></label>
                        <input asp-for="PainToleranceLevel" class="form-control" />
                        <span asp-validation-for="PainToleranceLevel" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="SessionNumber" class="control-label"></label>
                        <input asp-for="SessionNumber" value="1" class="form-control" />
                        <span asp-validation-for="SessionNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="ConsentFormSigned" class="control-label"></label>
                        <select asp-for="ConsentFormSigned" class="form-control">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <span asp-validation-for="ConsentFormSigned" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="FollowUpRequired" class="control-label"></label>
                        <select asp-for="FollowUpRequired" class="form-control">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-outline card-dark">
            <div class="card-header">
                <h3 class="card-title">Payment Information</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="TotalHours" class="control-label"></label>
                        <input asp-for="TotalHours" class="form-control" type="number" step="0.1" />
                        <span asp-validation-for="TotalHours" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Deposit" class="control-label"></label>
                        <input asp-for="Deposit" class="form-control" type="number" step="0.01" />
                        <span asp-validation-for="Deposit" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Discount" class="control-label"></label>
                        <input asp-for="Discount" class="form-control" type="number" step="0.01" />
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="DiscountInHour" class="control-label"></label>
                        <input asp-for="DiscountInHour" class="form-control" type="number" step="0.01" />
                        <span asp-validation-for="DiscountInHour" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="DueAmount" class="control-label"></label>
                        <input asp-for="DueAmount" class="form-control" readonly type="number" step="0.01" />
                        <span asp-validation-for="DueAmount" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="PaidAmount" class="control-label"></label>
                        <input asp-for="PaidAmount" class="form-control" type="number" step="0.01" />
                        <span asp-validation-for="PaidAmount" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="TotalCost" class="control-label"></label>
                        <input asp-for="TotalCost" class="form-control" readonly type="number" step="0.01" />
                        <span asp-validation-for="TotalCost" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="TipAmount" class="control-label"></label>
                        <input asp-for="TipAmount" class="form-control" type="number" step="0.01" />
                        <span asp-validation-for="TipAmount" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="PaymentMethod" class="control-label"></label>
                        @Html.DropDownListFor(model => model.PaymentMethod, (SelectList)ViewBag.AppointmentSelectList["PaymentMethod"], "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Status" class="control-label"></label>
                        @Html.DropDownListFor(model => model.Status, (SelectList)ViewBag.AppointmentSelectList["AppointmentStatus"], "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                    <div class="col-md-12">
                        <input type="button" value="Calculate Total Cost" class="btn btn-info my-button calculateTotalCost" />
                    </div>
                    @if (Model.DbStatus != "Completed")
                    {
                        <span>Click <b>Calculate Total Cost</b> button First to active submit button</span>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="submit" id="btnApppointmentSubmit" value="Update" class="btn btn-success my-button" disabled />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>



    </div>
    
</form>

@section Scripts {
   
}







